body
{
	 margin:auto;
}

header
{
	
	height:160px;
	margin:auto;
	background-color:white;
	/**border-bottom:4px solid #D30000;**/
}

#banniere
{
	width:80%;
	height:140px;
	height:160px;
	margin:auto;
	/**border-bottom:5px solid #038AC4;**/
	/**display:block;**/
	background-color:#FCC244;
}

table th img
{
	/** centrer les images en hauteur dans un table **/
	vertical-align: middle;
}

nav
{
	
	float:left;
}

nav ul
{
	margin: 0 ;
	padding: 0 ;
	list-style-type: none; /* pour retirer le point des listes */

}

nav li {

	width: 220px ;			/*  taille des cellules menu: 80x30 */
	height:70px;
	color: black ;
	text-align: center; 
	line-height:70px;
	border: 1px black solid;
	
}
nav ul li{
	/**background-color:#5E041C;**/
	background-color:grey;
	border:2px solid white;
	color:white;
	
	
}
nav ul li:hover
{
	background-color:#D87102;
}
nav ul li:active
{
	box-shadow: inset 0px 0px 10px 4px rgba(124, 17, 0, 0.75);
	-moz-box-shadow: inset 0px 0px 10px 4px rgba(124, 17, 0, 0.75);
	-webkit-box-shadow: inset 0px 0px 10px 4px rgba(124, 17, 0, 0.75);
}
nav ul a
{
	
	text-decoration:none;
	font-weight: bold;
}

#logo
{
	height:140px;
	width:200px;
	position:relative;
	left:10px;
	top:10px;
	background-color:#D87102;
}

#utilisateur{
	float:right;
	float:top;
}

footer
{
	clear:both;
	border-top:solid 5px #FF7200;
	height:100px;
	color:#FF7200 ;
	/**font-size:1.5em;**/
	margin:auto;
	margin-top:10px;
}

#tab_footer
{
	
	border-collapse: collapse;	
	width:80%;
	margin:auto;
	text-align:center;
}

/**

**/

#letout
{
	width:80%;
	margin:auto;
	/**background-image:url(images/imgDegrade.png);**/
	margin-top:5px;
	padding-bottom:10px;
	
	
}

#corpsPrincipal
{
	margin-left:230px;
	height:740px;
}

/*.commanderEtPreference{
	display:flex;
	height: 60%;
	width:100%;
}*/

.commander_pizza_index
{
	margin-left:10px;
	width:50%;
	background-color:#E9F4E1;
	display:inline-block;
}

.ListeEtPreference{
	width:100%;
	display: inline-flex;
}
.ListeEtPreference{
	width:95%;
	height: 75%;
	display: inline-flex;
}

#ListePizza{
	width:50%;
	height:100%;
	/**background-color:#FF456F;**/
	display:inline-block;
	border: 2px solid black;
}

#contenuListePizza
{
	margin-left:10px;
}

.Preference{
	margin-left:10px;
	width:50%;
	height:100%;
	background-color:#E9F4E1;
	display:inline-block;
}

.descriptionPreference{
	margin-left: 20px;
	font-size: 14px;
	font-style: italic;
}

.modifier{
	margin-top: 10px;
	margin-left: 20px;
	display: inline-flex;
}

.commander{
	margin-left:20px;
}

.Choix_Numero1{
	margin-left:10px;
	width:60%;
	height:25%%;
	background-color:#E9F4E1;
}

.Choix_Numero2{
	margin-left:10px;
	width:60%;
	height:25%%;
	background-color:#E9F4E1;
}

.Choix_Numero3{
	margin-left:10px;
	width:60%;
	height:25%%;
	background-color:#E9F4E1;
}

.circle1{
width:60px;
height:60px;
border-radius:50%;
line-height:500px;
background:#ffd700;
}

.circle2{
width:60px;
height:60px;
border-radius:50%;
line-height:500px;
background:#c0c0c0;
}

.circle3{
width:60px;
height:60px;
border-radius:50%;
line-height:500px;
background:#CD7F32;
}

.propriete{
	margin-left:20px;
}

.alignement{
	width:350px;
	display:inline-flex;
}

.taille{
	margin-bottom:10px;
}

.nomPizza{
	font-size: 20px;
	color: green;
}

.ingredient{
	margin-top: -20px;
}

#rappel{
	width:200px;
height:200px;
border-radius:50%;
line-height:500px;
background:#808080;
margin-right: 20px;
}